*.tar.gz
*.o
*.c
*.h
*.stamp
*.deps
*.libs
*.lo
*.la
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
/autom4te.cache/
config.guess
config.h
config.h.in~
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
/src/visualdeb
/src/visualdeb.1
/src/VisualDebFiles/DebianFiles.vapi
/tests/test_visualdeb
